<p id="notice"><%= notice %></p>

<!--inner block start here-->
<div class="cols-grids panel-widget">
  <%= link_to 'チームの新規作成', new_team_path ,class: 'btn btn-success pull-right'%>
  <h2 class=>チーム一覧</h2>
  <div class="chute chute-center text-center">
    <table>
      <thead>
        <tr>
          <th class="col-xs-1 col-ms-1 col-md-1">id</th>
          <th class="col-xs-2 col-ms-2 col-md-2">name</th>
          <th class="col-xs-1 col-ms-1 col-md-1">公開状態</th>
          <th class="col-xs-4 col-ms-4 col-md-4">アイコン</th>
        </tr>
      </thead>

      <tbody>
        <% @teams.each do |team| %>
        <tr>
          <td class="col-xs-1 col-ms-1 col-md-1" align="left"><%= team.id %></td>
          <td class="col-xs-2 col-ms-2 col-md-2" align="left"><%= team.name %></td>
          <td class="col-xs-1 col-ms-1 col-md-1" align="left"><%= team.is_public %></td>
          <td class="col-xs-4 col-ms-4 col-md-4" align="left"><%= team.icon %></td>
          <td><%= link_to '詳細を確認', team ,class: 'btn btn-info'%></td>
          <td><%= link_to '編集', edit_team_path(team) ,class: 'btn btn-warning'%></td>
          <td><%= link_to '削除', team, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'%></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <%= paginate @teams %>
  </div>
</div>

<!--inner block end here-->
