<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @team.icon %>
</p>

<p>
  <strong>Is public:</strong>
  <%= @team.is_public %>
</p>
<p>
  <% @members.each do |member| %>
  <%= member.user_id %>さん。
  <% end %>
</p>
<td><%= link_to '編集', edit_team_path(@team) ,class: 'btn btn-warning'%></td>
<td><%= link_to '削除', @team, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'%></td>
<td><%= link_to 'メンバーを追加', new_member_path(params:{team_id:@team}), class: 'btn btn-info'%></td>
