<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @team.icon %>
</p>

<p>
  <strong>Is public:</strong>
  <%= @team.is_public %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
