<!--inner block start here-->
<div class="cols-grids panel-widget">
  <%= link_to '自分のプロフィール', user_path(current_user) ,class: 'btn btn-success pull-right'%>
  <h2 class=>ユーザ一覧</h2>
  <div class="chute chute-center text-center">
    <table>
      <thead>
        <tr>
          <th class="col-xs-1 col-ms-1 col-md-1">id</th>
          <th class="col-xs-1 col-ms-1 col-md-1">名前</th>
          <th class="col-xs-2 col-ms-2 col-md-2">年齢</th>
          <th class="col-xs-1 col-ms-1 col-md-1">アイコン</th>
          <th class="col-xs-4 col-ms-4 col-md-4">コメント</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td class="col-xs-1 col-ms-1 col-md-1" align="left"><%= user.id %></td>
          <td class="col-xs-2 col-ms-2 col-md-2" align="left"><%= user.name %></td>
          <td class="col-xs-1 col-ms-1 col-md-2" align="left"><%= user.age %></td>
          <td class="col-xs-4 col-ms-4 col-md-1" align="left"><%= user.icon %></td>
          <td class="col-xs-4 col-ms-4 col-md-4" align="left"><%= user.comment %></td>
          <td><%= link_to '詳細を確認', user ,class: 'btn btn-info'%></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <%= paginate @users %>
  </div>
</div>

<!--inner block end here-->
