<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @project.icon %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @project.tag %>
</p>

<p>
  <strong>Is public:</strong>
  <%= @project.is_public %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
