<p id="notice"><%= notice %></p>

<p>
  <strong>Release:</strong>
  <%= @review.release_id %>
</p>

<p>
  <strong>Star:</strong>
  <%= @review.star %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
