<!DOCTYPE html>
<html>
  <head>
    <title>Sakikake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header_menu' %>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 sidebar">
        <%= render 'layouts/side_menu' %>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
