<!DOCTYPE html>
<html>
  <head>
    <title>Sakikake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header_menu' %>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <%= render 'layouts/side_menu' %>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
